.redes svg {
    margin-left: 10px;
}

.navbar {
    background-color: rgba(255,255,255,0.50);
}

.nav-item {
    margin: 15px 0 15px 0;
    text-transform: uppercase;
    color:black;
    font-weight: 500;
}

.bg-claro {
    background-color: #f3f3f3;

}

.inicio {
    height: 100lvh;
}

.outlinea {
    outline: 1px red solid;
}

.contenido h1 {
    font-size:70px;
}

.contenido p {
    font-size: 20px;
    font-weight:400;
}

.contenido button {
    padding: 5px 30px;
    font-size: 20px;
}

#nosotros {
    height:580px ;
}

#nosotros >.caja{
    width: 260px;
    height: 250px;
    margin-top: -150px;
    background-color: white;
    padding: 30px;
}

#nosotros > .caja > p {
    font-size: 15px;
}

.btn-conocenos {
    padding: 5px 30px;
    font-size: 20px;
}

@media only screen and (max-width: 750px) {
    .navbar {
        background-color:white;
    }

    #nosotros >.caja{
        margin-top: 15px;
        margin-bottom: 15px;
    }
  }